# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# Visual Studio
.vs/
*.rsuser
[Dd]ebug/
[Rr]elease/

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Test results
TestResults/
*.trx
*.coverage

# OS
.DS_Store
Thumbs.db
